.categoryDropdown {
    width: 100%;
    border-radius: 4px;
    height: 2em;
    border-color: #89ABE3;
}
.btn {
    font-size: xx-large;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.categoryErr {
    color: red;
    text-align: left;
    font-size: 14px;
}

