.searchBar {
    background: transparent;
    border: 0;
    outline: none;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 8em;
    text-align: center;
}

.searchbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding-top: 24px;
    background-color: #f5eae8;

}

.input-container {
    display: flex;

}

.mag-glass {
    align-self: center;
}