.header-container {
    position: sticky;
    top: 0;
    z-index: 9;
    height: 143px;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    padding: 2em 2em 0.5em 2em;
    margin: 0px 0;
    background-color: #FCF6F5FF;
    margin-bottom: 4em;
}


.header-name, .header-categories, .nav-icon {
    transition: 0.3s;
    cursor: pointer;
    font-weight: 600;
    
}

.header-categories {
    font-size: x-large;
}

.header-categories, .header-nav {
    width: 288px;
}

.header-name:hover, .header-categories:hover, .nav-icon:hover {
    color: #89ABE3FF;
    opacity: 1;

}

.nav-icon {
    font-size: x-large;
    padding-left: 1em;
    padding-right: 1em;
}
