.header-container {
    position: sticky;
    top: 0;
    z-index: 9;
    height: 143px;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    padding: 2em 2em 0.5em 2em;
    margin: 0px 0;
    background-color: #f5eae8;
    margin-bottom: 4em;
}


.header-name, .header-action, .nav-icon {
    transition: 0.3s;
    cursor: pointer;
    font-weight: 600;
    
}

.header-action {
    font-size: x-large;
    background-color: #89ABE3FF;
    border: none;
    padding: 8px;
    border-radius: 8px;
}

.header-action, .header-nav {
    width: 288px;
}

.header-action:hover, .nav-icon:hover {
    transform: scale(1.1);
}

.header-name:hover, .header-action:hover, .nav-icon:hover {
    color: #89ABE3FF;
    opacity: 1;

}

.header-action:hover {
    color:black;
}

.nav-icon {
    font-size: x-large;
    padding-left: 1em;
    padding-right: 1em;
}

.header-nav {
    width: 300px;
}