.header-container {
    align-items: center;
    display: flex;
    position: sticky;
    justify-content: space-around;
    top: 0;
    width: 100vw;
    padding-top: 2em;
    padding-bottom: 6em;
    z-index: 1;  
    overflow: hidden;
}


.header-name, .header-categories, .nav-icon {
    transition: 0.3s;
    cursor: pointer;
    font-weight: 600;
    
}

.header-categories {
    font-size: x-large;
}

.header-categories, .header-nav {
    width: 288px;
}

.header-name:hover, .header-categories:hover, .nav-icon:hover {
    color: #89ABE3FF;
    opacity: 1;

}

.nav-icon {
    font-size: x-large;
    padding-left: 1em;
    padding-right: 1em;
}
