.App {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #f5eae8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
html {
  background-color: #f5eae8;
  overflow-x: hidden;
}